%section#home.view.intro-4{style: "background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;"}
  .mask.rgba-indigo-light
    .container.h-100.d-flex.justify-content-center.align-items-center
      .row.flex-center.pt-5.mt-3
        .col-auto.text-center
          %h1.display-4.mt-md-5.mt-lg-0.mb-4.font-weight-bold.white-text.wow.fadeIn{'data-wow-delay'=> "0.3s"}
            %strong
              = "Welcome to the DNA of your company."
          %hr.hr-light.wow.fadeIn{'data-wow-delay'=> "0.3s"}
          %h5.white-text.description.wow.fadeIn{'data-wow-delay'=> "0.3s"}
            = "Take your work process & productivity to the next level."
          %br
            %a.btn.pink-gradient.btn-rounded.btn-lg.font-weight-bold.wow.fadeIn{"data-wow-delay" => "0.3s"}
              = 'Get started'
          %a.btn.btn-white.btn-rounded.btn-lg.orange-text.font-weight-bold.ml-lg-0.wow.fadeIn{"data-wow-delay" => "0.3s"}
            %i.fas.fa-play-circle.orange-text.mr-2{"aria-hidden" => "true"}
            = 'Watch demo'

%main
  .container
    / Section: Features v.4
    %section#features.text-center.my-5
      / Section heading
      %h2.title.font-weight-bold.my-5.wow.fadeIn{"data-wow-delay" => "0.2s"}
        %strong Features
      / Section description
      %p.grey-text.w-responsive.mx-auto.mb-5.wow.fadeIn{"data-wow-delay" => "0.2s"}
        The purpose of DNA is to help you record process throughout your business, in multiple locations and improve productivity and efficiency.
      / Grid row
      .row.wow.fadeIn{"data-wow-delay" => "0.2s"}
        / Grid column
        .col-lg-4.text-center
          .icon-area
            .circle-icon
              %i.fas.fa-cogs.blue-text
            %br/
            %h5.dark-grey-text.font-weight-bold.mt-2 Customization
            .mt-1
              %p.mx-3.grey-text
                Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem
                ipsum dolor sit
                amet, consectetur adipisicing elit.
        / Grid column
        / Grid column
        .col-lg-4.text-center
          .icon-area
            .circle-icon
              %i.fas.fa-book.blue-text
            %br/
            %h5.dark-grey-text.font-weight-bold.mt-2 Easy tutorials
            .mt-1
              %p.mx-3.grey-text
                Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem
                ipsum dolor sit
                amet, consectetur adipisicing elit.
        / Grid column
        / Grid column
        .col-lg-4.text-center.mb-4
          .icon-area
            .circle-icon
              %i.fas.fa-users.blue-text
            %br/
            %h5.dark-grey-text.font-weight-bold.mt-2 Free support
            .mt-1
              %p.mx-3.grey-text
                Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem
                ipsum dolor sit
                amet, consectetur adipisicing elit.
        / Grid column
      / Grid row
    / Section: Features v.4
    %hr/
    / Section: About 1
    %section#about.mt-5.mb-5.py-3.wow.fadeIn{"data-wow-delay" => "0.2s"}
      / Grid row
      .row.pt-2.mt-lg-5
        .col-6.mb-3.wow.fadeIn{"data-wow-delay" => "0.4s"}
          .img-fluid= image_tag("dna-welcome-screen.jpg", size: '550x350', class: 'rounded z-depth-1')
        .col-lg-6.ml-auto.col-md-12.wow.fadeIn{"data-wow-delay" => "0.4s"}
          / Secion heading
          %h2.mb-5.title.font-weight-bold.wow.fadeIn{"data-wow-delay" => "0.2s"}
            %strong Develop your brand with us
          / Description
          %p.grey-text{:align => "justify"}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi
            soluta ratione quisquam, dicta
            ab cupiditate iure eaque? Repellendus voluptatum, magni impedit delectus, beatae maxime temporibus
            maiores quibusdam.
          %p.grey-text
            %i.fas.fa-long-arrow-alt-right.orange-text.mr-2{"aria-hidden" => "true"}
            Perferendis iusto sint
            tempora
          %p.grey-text
            %i.fas.fa-long-arrow-alt-right.orange-text.mr-2{"aria-hidden" => "true"}
            Lorem ipsum dolor sit amet
          %p.grey-text
            %i.fas.fa-long-arrow-alt-right.orange-text.mr-2{"aria-hidden" => "true"}
            Repellendus voluptatum,
            magni
        / Grid column
      / Grid row
    / Section: About 1
    %hr/
    / Section: About 2
    %section#about2.mt-5.mb-5.py-3.wow.fadeIn{"data-wow-delay" => "0.2s"}
      / Grid row
      .row.pt-5.wow.fadeIn{"data-wow-delay" => "0.4s"}
        / Grid column
        .col-lg-6.col-md-12.mb-5.text-left
          / Secion heading
          %h2.mb-5.title.font-weight-bold.wow.fadeIn{"data-wow-delay" => "0.2s"}
            %strong Easily customizable with great interface
          / Description
          %p.grey-text{:align => "justify"}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi
            soluta ratione quisquam, dicta
            ab cupiditate iure eaque? Repellendus voluptatum, magni impedit delectus, beatae maxime temporibus
            maiores quibusdam.
          %p.grey-text{:align => "justify"}
            Rem magnam ad perferendis iusto sint tempora ea voluptatibus iure,
            animi excepturi modi aut possimus
            in hic molestias repellendus illo ullam odit quia velit. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit.
          %p.grey-text{:align => "justify"}
            Magnam ad perferendis iusto sint tempora ea voluptatibus iure, animi
            excepturi modi aut possimus
            in hic molestias repellendus illo. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Nemo animi soluta ratione quisquam, dicta ab cupiditate iure eaque? Repellendus voluptatum, magni
            impedit delectus, beatae maxime temporibus maiores quibusdam.
        / Grid column
        / Grid column
        .col-lg-5.col-md-12.mt-md-4.mt-lg-0.ml-auto.mb-5.text-center
          / Image
          %img.img-fluid.rounded.z-depth-0{:alt => "My photo", :src => "https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png"}/
        / Grid column
      / Grid row
    / Section: About 2
    %hr/
    / Section: Pricing v.5
    %section.text-center.my-5
      / Section heading
      %h2.title.font-weight-bold.my-5.wow.fadeIn{"data-wow-delay" => "0.2s"}
        %strong Our pricing plans
      / Section description
      %p.grey-text.w-responsive.mx-auto.mb-5
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit,
        error amet numquam iure provident voluptate
        esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.
      / Grid row
      .row
        / Grid column
        .col-lg-4.col-md-12.mb-5
          / Card
          .pricing-card.card
            / Content
            .card-body
              %h5.font-weight-bold.mt-3 Basic
              / Price
              .price.pt-0
                %h2.number.orange-text.mb-0 10
              / Price
              %ul.list-unstyled.striped.title.darker-striped
                %li
                  %p
                    %strong 1
                    project
                %li
                  %p
                    %strong 100
                    components
                %li
                  %p
                    %strong 150
                    features
                %li
                  %p
                    %strong 200
                    members
              %a.btn.pink-gradient.btn-rounded.mb-4 Buy now
          / Card
        / Grid column
        / Grid column
        .col-lg-4.col-md-12.mb-5
          / Card
          .card.card-image{:style => "background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(8).jpg');"}
            / Content
            .text-white.text-center.pricing-card.d-flex.align-items-center.rgba-indigo-strong.py-3.px-3.rounded
              / Content
              .card-body
                %h5.font-weight-bold.mt-2 Pro
                / Price
                .price.pt-0
                  %h2.number.mb-0 20
                / Price
                %ul.list-unstyled.striped
                  %li
                    %p
                      %strong 3
                      projects
                  %li
                    %p
                      %strong 200
                      components
                  %li
                    %p
                      %strong 250
                      features
                  %li
                    %p
                      %strong 300
                      members
                %a.btn.btn-rounded.btn-outline-white Buy now
          / Card
        / Grid column
        / Grid column
        .col-lg-4.col-md-12.mb-5
          / Card
          .pricing-card.card
            / Content
            .card-body
              %h5.font-weight-bold.mt-3 Enterprise
              / Price
              .price.pt-0
                %h2.number.orange-text.mb-0 30
              / Price
              %ul.list-unstyled.striped.title.darker-striped
                %li
                  %p
                    %strong 5
                    projects
                %li
                  %p
                    %strong 300
                    components
                %li
                  %p
                    %strong 350
                    features
                %li
                  %p
                    %strong 400
                    members
              %a.btn.pink-gradient.btn-rounded.mb-4 Buy now
          / Card
        / Grid column
      / Grid row
    / Section: Pricing v.5
  / Streak
  .streak.streak-photo.streak-md{:style => "background-image: url('https://mdbootstrap.com/img/Photos/Others/images/92.jpg');"}
    .flex-center.view.rgba-indigo-light
      .container.py-3
        / Section: Features v.4
        %section.wow.fadeIn{"data-wow-delay" => "0.2s"}
          / Section heading
          %h2.py-5.my-5.white-text.font-weight-bold.text-center.wow.fadeIn{"data-wow-delay" => "0.2s"}
            Why choose SAAS
          / Grid row
          .row.mb-5
            / Grid column
            .col-md-12.col-lg-6
              / Grid row
              .row.mb-5
                .col-2
                  %a.btn-floating.white.btn-lg.my-0{:type => "button"}
                    %i.fas.fa-tablet-alt.blue-text{"aria-hidden" => "true"}
                .col-9.pl-5
                  %h4.font-weight-bold.white-text Fully responsive
                  %p.white-text
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                    maiores.
              / Grid row
              / Grid row
              .row.mb-5
                .col-2
                  %a.btn-floating.white.btn-lg.my-0{:type => "button"}
                    %i.fas.fa-level-up-alt.blue-text{"aria-hidden" => "true"}
                .col-9.pl-5
                  %h4.font-weight-bold.white-text Frequent updates
                  %p.white-text
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                    maiores.
              / Grid row
              / Grid row
              .row.mb-5
                .col-2
                  %a.btn-floating.white.btn-lg.my-0{:type => "button"}
                    %i.fas.fa-phone.blue-text{"aria-hidden" => "true"}
                .col-9.pl-5
                  %h4.font-weight-bold.white-text Technical support
                  %p.white-text
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                    maiores nam.
              / Grid row
            / Grid column
            / Grid column
            .col-md-12.col-lg-6
              / Grid row
              .row.mb-5
                .col-2
                  %a.btn-floating.white.btn-lg.my-0{:type => "button"}
                    %i.far.fa-object-group.blue-text{"aria-hidden" => "true"}
                .col-9.pl-5
                  %h4.font-weight-bold.white-text Editable layout
                  %p.white-text
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                    maiores nam.
              / Grid row
              / Grid row
              .row.mb-5
                .col-2
                  %a.btn-floating.white.btn-lg.my-0{:type => "button"}
                    %i.fas.fa-rocket.blue-text{"aria-hidden" => "true"}
                .col-9.pl-5
                  %h4.font-weight-bold.white-text Fast and powerful
                  %p.white-text
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                    maiores nam.
              / Grid row
              / Grid row
              .row.mb-5
                .col-2
                  %a.btn-floating.white.btn-lg.my-0{:type => "button"}
                    %i.fas.fa-cloud-upload-alt.blue-text{"aria-hidden" => "true"}
                .col-9.pl-5
                  %h4.font-weight-bold.white-text Cloud storage
                  %p.white-text
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                    maiores nam.
              / Grid row
            / Grid column
          / Grid row
        / Section: Features v.4
  / Streak
  / Second container
  .container-fluid{:style => "background-color: #f4f4fa"}
    .container.py-4
      / Section: Services
      %section.my-3.pb-3
        / Section heading
        %h3.text-center.title.my-5.pt-4.pb-5.dark-grey-text.font-weight-bold.wow.fadeIn{"data-wow-delay" => "0.2s"}
          %strong Easy to get started
        / First row
        .row.wow.fadeIn{"data-wow-delay" => "0.4s"}
          / First column
          .col-md-4.mb-5.text-center
            / Panel
            .card.card-body.text-left.white.hoverable
              %p.title.font-weight-bold.dark-grey-text.text-uppercase.spacing.mt-4.mx-4
                %i.fas.fa-square.orange-text.mr-2{"aria-hidden" => "true"}
                %strong 01 Create Account
              %p.grey-text.font-small.mx-4
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                nesciunt sapiente earu
                proident.
            / Panel
          / First column
          / Second column
          .col-md-4.mb-5.text-center
            / Panel
            .card.card-body.text-left.white.hoverable
              %p.title.font-weight-bold.dark-grey-text.text-uppercase.spacing.mt-4.mx-4
                %i.fas.fa-square.orange-text.mr-2{"aria-hidden" => "true"}
                %strong 02 Select Plan
              %p.grey-text.font-small.mx-4
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                nesciunt sapiente earu
                proident.
            / Panel
          / Second column
          / Third column
          .col-md-4.mb-5.text-center
            / Panel
            .card.card-body.text-left.white.hoverable
              %p.title.font-weight-bold.dark-grey-text.text-uppercase.spacing.mt-4.mx-4
                %i.fas.fa-square.orange-text.mr-2{"aria-hidden" => "true"}
                %strong 03 Assign tasks
              %p.grey-text.font-small.mx-4
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                nesciunt sapiente earu
                proident.
            / Panel
          / Third column
        / First row
      / Section: Services
  / Second container
  -#.container
    / Section: Team v.1
    %section#team.team-section.text-center.my-5
      / Section heading
      %h3.text-center.title.my-5.dark-grey-text.font-weight-bold.wow.fadeIn{"data-wow-delay" => "0.2s"}
        %strong True words from our customers
      / Section description
      %p.grey-text.w-responsive.mx-auto.mb-5
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit,
        error amet numquam iure provident voluptate
        esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.
      .row.mt-5.pt-5
        / Grid column
        .col-lg-4.col-md-12.mb-5
          / Card
          .card.testimonial-card
            / Background color
            .card-up.pink-gradient
            / Avatar
            .avatar.mx-auto.white
              %img.rounded-circle.img-responsive{:src => "https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg"}/
            .card-body
              / Name
              %h4.mt-1
                %strong John Doe
              %hr/
              / Quotation
              %p.dark-grey-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci.
          / Card
        / Grid column
        / Grid column
        .col-lg-4.col-md-12.mb-5
          / Card
          .card.testimonial-card
            / Background color
            .card-up.pink-gradient
            / Avatar
            .avatar.mx-auto.white
              %img.rounded-circle.img-responsive{:src => "https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg"}/
            .card-body
              / Name
              %h4.mt-1
                %strong Anna Aston
              %hr/
              / Quotation
              %p.dark-grey-text Neque cupiditate assumenda in maiores repudiandae mollitia architecto.
          / Card
        / Grid column
        / Grid column
        .col-lg-4.col-md-12.mb-5
          / Card
          .card.testimonial-card
            / Background color
            .card-up.pink-gradient
            / Avatar
            .avatar.mx-auto.white
              %img.rounded-circle.img-responsive{:src => "https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg"}/
            .card-body
              / Name
              %h4.mt-1
                %strong Maria Kate
              %hr/
              / Quotation
              %p.dark-grey-text
                Delectus impedit saepe officiis ab aliquam repellat, rem totam unde ducimus.
          / Card
        / Grid column
    / Section: Team v.1
  / Streak
  .streak.streak-photo.streak-md{:style => "background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg');"}
    .flex-center.mask.rgba-gradient
      .container.my-5
        -#/ Section heading
        -#%h3.text-center.pb-3.white-text.font-weight-bold.wow.fadeIn{"data-wow-delay" => "0.2s"}
        -#  %strong Download our mobile app
        -#%h6.text-center.white-text.pb-4.font-weight-bold.wow.fadeIn{"data-wow-delay" => "0.2s"}
        -#  Get 30 days trial
        -#/ First row
        -#.row.flex-center
        -#  %a.btn.btn-white.btn-rounded.btn-lg.orange-text.font-weight-bold.ml-0.wow.fadeIn{"data-wow-delay" => "0.2s"}
        -#    %i.fab.fa-android.pr-2{"aria-hidden" => "true"}
        -#    Play store
        -#  %a.btn.btn-white.btn-rounded.btn-lg.orange-text.font-weight-bold.wow.fadeIn{"data-wow-delay" => "0.2s"}
        -#    %i.fab.fa-apple.pr-2{"aria-hidden" => "true"}
        -#    App store
        / First row
  / Streak
  / Section: Contact v.2
  .container
    -#%section#contact.text-center.my-5
      / Section heading
      %h3.text-center.title.my-5.dark-grey-text.font-weight-bold.wow.fadeIn{"data-wow-delay" => "0.2s"}
        %strong Contact us
      / Section description
      %p.grey-text.w-responsive.mx-auto.mb-5.wow.fadeIn{"data-wow-delay" => "0.2s"}
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate
        esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.
      .row.wow.fadeIn{"data-wow-delay" => "0.4s"}
        / Grid column
        .col-md-8.col-lg-9
          %form
            / Grid row
            .row
              / Grid column
              .col-md-6
                .md-form.mb-0
                  %input#form41.form-control{:type => "text"}/
                  %label{:for => "form41"} Your name
              / Grid column
              .col-md-6
                .md-form.mb-0
                  %input#form52.form-control{:type => "text"}/
                  %label{:for => "form52"} Your email
            / Grid row
            / Grid row
            .row
              .col-md-12
                .md-form.mb-0
                  %input#form51.form-control{:type => "text"}/
                  %label{:for => "form51"} Subject
            / Grid row
            / Grid row
            .row
              / Grid column
              .col-md-12
                .md-form.mb-0
                  %textarea#form76.md-textarea.form-control{:rows => "3", :type => "text"}
                  %label{:for => "form76"} Your message
            / Grid row
          .text-center.text-md-left.mb-5.mt-4
            %a.btn.btn-rounded.btn-white.font-weight-bold Send
        / Grid column
        / Grid column
        .col-md-4.col-lg-3
          %ul.list-unstyled.contact-icons.float-md-right
            %li
              %i.fas.fa-map-marker-alt.fa-2x.title
              %p New York, NY 10012, USA
            %li
              %i.fas.fa-phone.fa-2x.title
              %p + 01 234 567 89
            %li
              %i.fas.fa-envelope.fa-2x.title
              %p contact@gmail.com
        / Grid column
    / Section: Contact v.2
  / Section: Partners
  %section
    / Section heading
    %h3.text-center.title.mt-5.pt-4.dark-grey-text.font-weight-bold.wow.fadeIn{"data-wow-delay" => "0.2s"}
      %strong Our partners
    / Section description
    %p.grey-text.text-center.mb-5.wow.fadeIn{"data-wow-delay" => "0.2s"} Over 680,000 Customers worldwide
    -#.container-fluid{:style => "background-color: #f4f4fa;"}
      .container.py-5
        / Items wrapper
        .flex-center
          / First row
          .row.logos-panel.mb-2.wow.fadeIn{"data-wow-delay" => "0.4s"}
            / First column
            .col-sm-6.col-md-3.flex-center
              %img.img-fluid{:src => "https://mdbootstrap.com/img/Photos/Template/38.png"}/
            / First column
            / Second column
            .col-sm-6.col-md-3.flex-center
              %img.img-fluid{:src => "https://mdbootstrap.com/img/Photos/Template/39.png"}/
            / Second column
            / Third column
            .col-sm-6.col-md-3.flex-center
              %img.img-fluid{:src => "https://mdbootstrap.com/img/Photos/Template/40.png"}/
            / Third column
            / Fourth column
            .col-sm-6.col-md-3.flex-center
              %img.img-fluid{:src => "https://mdbootstrap.com/img/Photos/Template/41.png"}/
            / Fourth column
          / First row
        / Items wrapper
  / Section: Partners

-#%section#home.view.intro-4{:style => "background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;"}
  .mask.rgba-indigo-light
    .container.h-100.d-flex.justify-content-center.align-items-center
      .row.flex-center.pt-5.mt-3
        .col-md-12.col-lg-12.text-center
          %h1.display-4.mt-md-5.mt-lg-0.mb-4.font-weight-bold.white-text.wow.fadeIn{"data-wow-delay" => "0.3s"}
            %strong Clean Modern Layout For Your Web
          %hr.hr-light.wow.fadeIn{"data-wow-delay" => "0.3s"}/
          %h5.white-text.description.wow.fadeIn{"data-wow-delay" => "0.3s"}
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt
            dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae.
          %br/
          %a.btn.pink-gradient.btn-rounded.btn-lg.font-weight-bold.wow.fadeIn{"data-wow-delay" => "0.3s"}
            Get
            started
          %a.btn.btn-white.btn-rounded.btn-lg.orange-text.font-weight-bold.ml-lg-0.wow.fadeIn{"data-wow-delay" => "0.3s"}
            %i.fas.fa-play-circle.orange-text.mr-2{"aria-hidden" => "true"}
            Watch demo
